body{
    background-color: green;
}
h1{
    text-align: center;
}
font{
    color: white;
    background-color: pink;
}
div{
    margin-left: 40%;
    top: 13%;
    position: absolute;
}
img{
    width: 20%;
    margin-left: 20%;
    border: 2px solid white;
}