html{
    font-family: 'Lacquer' ;
}
#title {
    color: red;
}
.fd20{
    font-size: large;
}
.bluetest {
    color: purple;
}

.bg-green {
    background-color: green;
    width: 200px;
    height: 200px;
    /* margin: 10px; */
    padding: 50px;
    border: greenyellow 20px double;
}